<%-include('includes/head.ejs')%>
<link rel="stylesheet" href="/css/projects.css" />
    <title><%=title%></title>
  </head>
  <body>
    <%-include('includes/nav.ejs')%>
    <h1 class="main__title"><%=title%></h1>
 <%-include('includes/end.ejs')%>
